@import './var.mod.scss';


[id$="-page"]{
	max-width: $maxWidth !important;
	margin: auto;
}


@media screen and (min-width: $maxWidth){
	%fade{
		&:hover{
			background: $hColor !important;
		}
		transition: background .3s ease;
		cursor: pointer;
	}

	body{
		background-color: #fff !important;
	}
	[id$="-page"]{
		background-color: #fff !important;
	}

	.head{
		width: 800px;
	}

	.section{
		
		.avatar{
			cursor: pointer;
		}
	}
	.icon-backtop{
		transition: color .3s ease;
		cursor: pointer;
		&:hover{
			color: darken($stdColor, 10%);
		}
	}

	.nav{
		span{
			@extend %fade;
			padding: 0 25px !important;
		}
	}
	.menu-btn{
		@extend %fade;
	}
	.menu{
		&>div{
			border-radius: 10px;
			cursor: pointer;
			transition: all .3s ease;
		}
		&>[class^="icon-"]:hover{
			background: $hColor;
		}
	}

	#list-page{
		&>ul>li{
			margin: 15px auto !important;
			cursor: pointer;
			border-radius: 15px !important;
		}
	}
	#user-page{
		li.status{
			cursor: pointer;
		}
	}
	#topic-page{
		.reply-box{
			margin-left: 70px;
			position: relative;
			box-shadow: none;
			border: 1px solid #aaa;

	
			.status{
				[class^="icon-"]{
					height: 30px;
					line-height: 30px;
					cursor: pointer;
				}
				.avatar{
					left: -80px;
					top: 20px;
					cursor: pointer;
				}
				.detail{
					margin-left: 0;
					padding: 0;

					&>div{

						&:first-child{
							position: absolute;
							width: 70px;
							height: 25px;
							line-height: 25px;
							text-align: center;
							font-size: 12px;
							left: -90px;
							top: 45px;
						}

						&:nth-child(2){
							float: left;
							color: #999;
							font-size: 12px;
						}
					}
					&:after{
						content: '.';
						height: 0;
						display: block;
						clear: both;
						visibility: hidden;
					}
				}
				margin-bottom: 10px;
			}
			hr{
				display: none;
			}
			&:before{
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				background: #f5f5f5;
				position: absolute;
				left: -6px;
				top: 25px;
				border: 1px solid #aaa;
				border-top: none;
				border-right: none;
				transform: rotate(45deg);
			}
		}
	}
	.icon-home{
		@extend %fade;
	}

	.btn, .lbtn{
		transition: all .3s ease;
		&:hover{
			background: darken($stdColor, 5%);
			cursor: pointer;
		}
	}

	.alert{
		margin-top: $headerHeight + 100 !important;
	}


}

@media screen and (min-width: $maxWidth + 150) {
	.icon-backtop{
		left: 50%;
		margin-left: 420px;
	}

}

